
</html><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">  
  <title>后台管理系统</title>
  <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/login.css">

</head>
<body>
 
  <div class="container">
      <form action="/users/register" method="POST">
          <label for="">
              <span>用户名：</span>
              <input type="text" placeholder="请输入用户名" name="name">
          </label><br>
          <label for="">
                <span>密码：</span>
                <input type="password" placeholder="请输入密码" name="pwd">
            </label><br>
            <label for="">
                    <span>年龄:</span>
                    <input type="text" placeholder="请输入年龄" name="age">
                </label><br>
                <label for="">
                        <span>昵称:</span>
                        <input type="text" placeholder="请输入昵称" name='nickname'>
                    </label><br>
                <label for="">
                    <span>性别：</span>
                        <input type="radio" value="男" name="sex">男
                        <input type="radio" value="女" name="sex">女
                    </label><br>
                    <label for="">
                            <span>管理员:</span>
                            <input type="radio" value="是" name="isAdmin">是
                            <input type="radio" value="否" name="isAdmin">否
                        </label><br><br><br>
            <button>注册</button>
            <a href="/loging.html">已有账号立即登入</a>
      </form>
  
  </div>
</body>
</html>