
    <div class="lv-head">
        <div class="left">
            <a href="/" class="logo">xx后台管理系统</a>
            <!--这个是访问首页 -->
        </div>
        <div class="right">
            <p>欢迎你 --（管理员）</p>
           <button class="btn btn-primary">退出</button>
           
        </div>
    </div>
